<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhalka.babytracker"
    android:versionCode="20"
    android:versionName="1.8"
    android:installLocation="auto">
    
    <supports-screens android:smallScreens="false"
        android:xlargeScreens="false" />

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light"
        android:allowBackup="true">
        <activity android:name=".SplashScreen"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".PregTracker"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".BabyTracker"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".About"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <receiver android:name=".AlarmReceiver" ></receiver>
        <receiver android:name=".StartAtBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
	</application>

</manifest>
