<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhalka.babytracker"
    android:installLocation="auto"
    android:versionCode="34"
    android:versionName="1.9.7">

    <supports-screens
        android:smallScreens="false"
        android:xlargeScreens="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColoredActionBar">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.NoBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".PregTracker"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".BabyTracker"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".About"
            android:screenOrientation="sensorPortrait"/>

        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".StartAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
